@use "../abstractos/mixins" as mixin;
@use "../abstractos/maps" as map;
@use "../abstractos/variables" as v;

.home__hero {
  padding-top: 50px;
  .container {
    @include mixin.container(100px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    h2 {
      font-size: 2em;
      color: map-get(map.$color-palette, text-color);
      font-weight: 900;
      text-align: center;
    }
    .productos__container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      gap: 2em;
      padding-top: 1em;
      .producto__card {
        width: 100%;
        max-width: 250px;
        max-height: 400px;
        background-color: rgb(240, 182, 95);
        border-radius: 2rem;
        box-shadow: v.$soft-shadow;
        padding: 2em;
        gap: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        h3 {
          font-size: 1em;
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 1em;
          p {
            font-size: 1.1em;
          }
        }
        img {
          margin: auto;
          width: 100%;
          max-width: 70%;
          object-fit: contain;
        }
      }
    }
  }
}

nav {
  background-color: #f5f6fe !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    li {
      margin: auto;
      background-color: white;
      border-radius: 0.5em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1em;
      width: 90%;
      padding: 1em;
      font-size: 1em;
      color: map-get(map.$color-palette, text-color);
      box-shadow: v.$soft-shadow;
      div {
        display: flex;
        align-items: center;
        gap: 1em;
      }
      img {
        width: 40px;
      }
      .bx {
        justify-self: end;
        font-size: 24px;
        color: rgb(145, 129, 37);
        cursor: pointer;
      }
    }
  }
  a {
    color: rgb(180, 167, 52) !important;
    margin-top: 2em;
    font-size: 1em !important;
  }
  #total {
    margin-top: 1em;
    font-size: 1.2em;
    color: map-get(map.$color-palette, text-color);
    font-weight: bold;
  }
}

.categorias {
  margin: 0 13%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.5em 1em;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(62, 179, 51);
    font-size: 0.9em;
    font-weight: 700;
    border-radius: calc(v.$border-radius * 1);
    gap: 0;
    border: 1px solid rgb(238, 238, 238);
    padding: 0.25em 1em;

    &:hover {
      gap: 0.5em;
      border-color: v.$secondary-color;
    }
  }
}